.input-fields {
  display: flex;
  position: relative;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  z-index: 100;
}

.input-area {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.input-filters {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: start;
}

.filter-container {
  position: absolute;
  background-color: white;
  padding: 0 1.5rem 1em;
  z-index: 1;
  transition: 0.3s;
  border-bottom: 1px gray solid;
}

.table-upper-container {
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.main-word-container {
  font-size: 2em;
  border-radius: 10px;
}

.border-bottom {
  display: flex;
  gap: 1em;
  border-bottom: 1px solid gray;
}

.added-filter {
  font-size: 2em;
  font-weight: bold;
  background-color: lightskyblue;
  padding: 0 0.5em;
  border-radius: 15px;

}

* {
  box-sizing: border-box;
}